html {
  background: rgb(173, 151, 173);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .app-container {
  display: flex;
  justify-content: space-between;
} */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background: rgb(173, 151, 173);
}

.left-menu-small {
  font-size: 1.3rem;
}
.left-menu-big {
  font-size: 2rem;
}
